<table class="table table-hover">
    <tr>
        <td>
            {#<a href="{{ url_for('forum.index', username=question.author.username) }}">
            </a>
            {% set user_link %}
                <span id="question_post">
                    <a href="{{ url_for('forum.index', username=question.author.username) }}">
                        {{ question.author.username }}
                    </a>
                </span>
            {% endset %}#}
            <a href="{{ url_for('forum.question_details', title=question.title) }}">
                {{ _('%(title)s asked %(when)s',
                title=question.title, when=moment(question.timestamp).fromNow()) }}
            </a>
            <br>
            <span id="question{{ question.id }}">{{ question.body }}</span>
            {% if question.language and question.language != g.locale %}
            <br><br>
            <span id="translation{{ question.id }}">
                <a href="javascript:translate(
                            '#question{{ question.id }}',
                            '#translation{{ question.id }}',
                            '{{ question.language }}',
                            '{{ g.locale }}');">{{ _('Translate') }}</a>
            </span>
            {% endif %}
        </td>
    </tr>
</table>
